[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
openai = "*"
pinecone-client = "*"
langchain = "*"
pypdf2 = "*"
faiss-cpu = "*"
tiktoken = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
